<h1>UserChallenges#create</h1>
<p>Find me in app/views/user_challenges/create.html.erb</p>

<h1>Create User Challenge</h1>

<%= form_for(current_user.user_challenges.build) do |f| %>
  <%= f.hidden_field :action_id, value: @action.id %>
  <p><strong>Action:</strong> <%= @action.name %></p>

  <div class="field">
    <%= f.label :done %>
    <%= f.check_box :done %>
  </div>

  <div class="field">
    <%= f.label :completed_date %>
    <%= f.date_field :completed_date %>
  </div>

  <%= f.submit "Create User Challenge" %>
<% end %>

<%= link_to "Back", user_challenges_path %>
