
<div class="banner">
  <div class="container">
    <h1><strong>Vos Challenges!</strong></h1>

  </div>
</div>
<div class="custom-container">
  <div class="row">
    <% sorted_user_challenges = @user_challenges.sort_by { |uc| uc.done ? 1 : 0 } %>
    <% sorted_user_challenges.each do |user_challenge| %>
      <div class="col-6 cards-action-index">
        <div class="custom-card-custom-action-card">
          <div class="custom-card-title" style="background-color: <%= user_challenge.action.category.category_color %>">
            <%= link_to user_challenge_path(user_challenge), class:'link-to-text text-truncate' do %>
              <%= user_challenge.action.name %>
            <% end %>
          </div>
          <div class="white-area">
           <% user_challenge.done %>
            <div class="custom-card-icon">
              <%= link_to user_challenge_path(user_challenge) do %>
                <%= image_tag("icons/#{user_challenge.action.icon}", alt: 'Icon') %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
