
<div class="banner">
  <div class="container">
    <h1 class="text-center"><strong>Vos Challenges!</strong></h1>
  </div>
</div>

<div class="custom-container">

  <h2 class="text-center">Challenges en cours</h2>
  <div class="row">
    <% sorted_user_challenges = @user_challenges.reject { |uc| uc.done }.sort_by { |uc| [uc.action.category.title, uc.action.name] } %>
    <% current_category = nil %>
    <% sorted_user_challenges.each do |user_challenge| %>
      <div class="col-6 cards-action-index">
        <div class="custom-card-custom-action-card" style="border: 3px solid <%= user_challenge.action.category.category_color %>" >
          <div class="custom-card-title" style="background-color: <%= user_challenge.action.category.category_color %>">
            <%= link_to user_challenge_path(user_challenge), class:'link-to-text text-truncate' do %>
              <%= user_challenge.action.name %>
            <% end %>
          </div>
          <% unless user_challenge.done %>
            <div class="custom-card-icon">
              <%= link_to user_challenge_path(user_challenge) do %>
                <%= image_tag("icons/#{user_challenge.action.icon}", alt: 'Icon') %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>



<%# <h2>Completed Challenges</h2>
  <ul class="completed-challenges-list">
    <% current_category = nil %>
    <%# <% @user_challenges.select { |uc| uc.done }.each do |completed_challenge| %>
      <%# <% if completed_challenge.action.category.title != current_category %>
        <%# <% current_category = completed_challenge.action.category.title %>
        <%# <h3><%= current_category</h3> %>
      <%# <% end %>
      <%# <li><%= completed_challenge.action.name %><%#</li> %>
    <%# <% end %>
  <%# </ul> %>
<%# </div> %>

<%# <h2>Completed Challenges</h2> %>
  <%# <ul class="completed-challenges-list"> %>
    <%# <% completed_challenge_counts = Hash.new(0) %>
    <%# <% @user_challenges.select { |uc| uc.done }.each do |completed_challenge| %>
      <%# <% completed_challenge_counts[completed_challenge.action.name] += 1 %>
    <%# <% end %>
    <%# <% completed_challenge_counts.each do |challenge_name, count| %>
      <%# <li><%= "#{challenge_name} (Completed #{count} times)" %><%#</li> %>
    <%# <% end %>
  <%# </ul> %>
<%# </div> %>
