<h1>Détails du défi utilisateur</h1>

<p>Action: <%= @user_challenge.action.name %></p>
<p>Terminé: <%= @user_challenge.done %></p>
<p>Date de réalisation: <%= @user_challenge.completed_date %></p>

<% unless @user_challenge.done %>
  <%= button_to "Modifier le statut.", toggle_complete_user_challenge_path(@user_challenge), method: :patch %>
<% end %>

<%= link_to "Retour", user_challenges_path %>
<%= link_to "Home", root_path %>
