<h1>Mise à jour du défi utilisateur</h1>

<%= form_for(@user_challenge) do |f| %>
  <div class="field">
    <%= f.label :done %>
    <%= f.check_box :done %>
  </div>

  <div class="field">
    <%= f.label :completed_date %>
    <%= f.date_field :completed_date %>
  </div>

  <%= f.submit "Mettre à jour le défi utilisateur" %>
<% end %>

<%= link_to "Retour", user_challenges_path %>
