<div id="categories">
  <% if @selected_category_ids.empty? %>
    <p>Please select categories to filter actions.</p>
  <% elsif @selected_categories.any? %>
    <h1>Challenges From Selected Categories</h1>
    <p>Selected Categories: <%= @selected_categories.map(&:title).join(', ') %></p>
    <div class="custom-container">
      <div class="row">
        <% @actions.each do |action| %>
          <div class="col-6 cards-action-index">
            <div class="custom-card-custom-action-card">
              <div class="custom-card-title btn btn-primary" style="background-color: <%= action.category.category_color %>">

                <%= link_to action_path(action) do %>
                  <%= action.name %>
                <% end %>

              </div>
              <div class="white-area">
                <div class="custom-card-icon-center">
                  <%= link_to action_path(action) do %>
                      <%= image_tag("icons/#{action.icon}", alt: 'Icon') %>
                    <% end %>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <p>No actions found for the selected categories.</p>
  <% end %>
</div>
