<h1>Actions</h1>

<h2>choisi tes categories:</h2>
<%= form_tag(actions_path, method: :get, data: { controller: "hello"}) do %>
  <div class="d-flex">
    <% @all_user_categories.each do |category| %>
      <div class="custom-checkbox">
        <% color = category.id % Category::COLORS.length %>
        <%= Category::COLORS[color] %>
        <style>
            .categ{ background-color:<%= Category::COLORS[color] %>;}
        </style>
        <div style="--category_checkbox:<%= Category::COLORS[color] %>;">
        <%= check_box_tag 'categories[]', category.id, @selected_category_ids.include?(category.id), class: "categ"  %>
        <%= label_tag "category_#{category.id}", category.title, id: "categ" %>
        </div>
      </div>
    <% end %>
  </div>
  <%= submit_tag 'Filtrer' %>
<% end %>

<% if @selected_category_ids.empty? %>
  <p>Please select categories to filter actions.</p>
<% elsif @selected_categories.any? %>
  <h1>Challenges From Selected Categories</h1>

  <p>Selected Categories: <%= @selected_categories.map(&:title).join(', ') %></p>

  <div class="custom-container">
    <div class="row">
      <% @actions.each do |action| %>
        <div class="col-6 cards-action-index">
          <div class="custom-card custom-action-card">
            <div class="card-title">
              <%= action.name %>
            </div>
            <div class="card-icon">
              <a href="<%= action_path(action) %>">
                <%= image_tag("icons/#{action.icon}", alt: 'Icon') %>
              </a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <p>No actions found for the selected categories.</p>
<% end %>

<%# <script>
  document.addEventListener("DOMContentLoaded", function() {
    const checkboxes = document.querySelectorAll('.category_checkbox');
    checkboxes.forEach(checkbox => {
      checkbox.addEventListener('change', function() {
        const label = this.nextElementSibling;
        if (this.checked) {
          label.style.backgroundColor = categoryColor(this.id);
        } else {
          label.style.backgroundColor = "white";
        }
      });
    });

    function categoryColor(categoryId) {
      const colors = ['#FF5733', '#33FF57', '#5733FF', '#FF33D4', '#FFD133'];
      // Assuming category IDs are like "category_1", "category_2", etc.
      const idNumber = parseInt(categoryId.split('_')[1]);
      const hashedValue = idNumber % colors.length;
      return colors[hashedValue];
    }
  });
</script> %>
  <%# <%= check_box_tag 'all', 'true', @selected_category_ids.size == @all_user_categories.size, id: 'all_checkbox' %>
  <%# <%= label_tag 'all_checkbox', 'All' <br> %>
  <%# <br> %>

<%# <script>
  document.getElementById("all_checkbox").addEventListener("change", function() {
    var categoryCheckboxes = document.querySelectorAll(".category_checkbox");
    if (this.checked) {
      categoryCheckboxes.forEach(function(checkbox) {
        checkbox.checked = false;
      });
    }
  });

  document.querySelectorAll(".category_checkbox").forEach(function(checkbox) {
    checkbox.addEventListener("change", function() {
      if (this.checked) {
        document.getElementById("all_checkbox").checked = false;
      }
    });
  });
</script> %>
