<h1>Actions#show</h1>
<p>Find me in app/views/actions/show.html.erb</p>
<%= link_to "retour à la liste des actions", actions_path() %>

<h1>Action Details</h1>

<p>Name: <%= @action.name %></p>
<p>Category: <%= @action.category.title %></p>
<p>Span: <%= @action.span.to_i / 86_400 %> days</p>
<p>Value: <%= @action.value %></p>
