<% if current_user.nil? %>
<div class="banner" >
  <div class="container">
        <div class="row justify-content-center">
          <p class="welcome-text">
          </p>
          <%= image_tag "BuildUp2.png", class:"logo-large" %>
        </div>

  </div>
</div>


<% else %>

  <div class="container">
    <div class="row justify-content-center">
      <h2>Salut, <%= current_user.user_name %>!</h2>
      <p>Total de vos points: <%= @total_value %></p>
      
    </div>
  </div>


    <h1>Users Ranked by Total Value of Completed Actions</h1>

    <% @ranked_users.each_with_index do |user, index| %>
      <p>
        <%= index + 1 %>. <%= user.user_name %> - Total Value: <%= user.total_value %>
      </p>
    <% end %>

    <h1>Categories Ranked by Total Value of Completed Actions</h1>

    <% @ranked_categories.each_with_index do |category, index| %>
      <p>
        <%= index + 1 %>. <%= category.title %> - Total Value: <%= category.total_value %>
      </p>
    <% end %>

    <h1>Users Ranked by Total Value of Completed Actions per Category</h1>

    <% @categories.each do |category| %>
      <h2><%= category.title %></h2>
      <% category.ranked_users_by_total_value.each_with_index do |user, index| %>
        <p>
          <%= index + 1 %>. <%= user.user_name %> - Total Value: <%= user.total_value %>
        </p>
      <% end %>
    <% end %>

<%end%>

