<% if current_user.nil? %>
<div class="container">
  <div class="row justify-content-center">
    <p class="welcome-text">
    </p>
    <%= image_tag "BuildUp.png" %>
  </div>
</div>


<% else %>
<div class="container">
  <div class="row justify-content-center">
    <h2>Salut, <%= current_user.user_name %>!</h2>
    <%= link_to "liste des actions disponible", actions_path %>
    <%= link_to "liste de vos categories",  user_categories_path %>
    <%= link_to "liste de vos challenges",  user_challenges_path %>
    
  </div>
</div>
<%end%>

<p>Total value of completed actions: <%= @total_value %></p>
