<div class="home-profile">
  <% if current_user.nil? %>
    <div class="banner" >
          <div class="row justify-content-center">
            <p class="welcome-text">
            </p>
            <%= image_tag "BuildUp2.png", class:"logo-large" %>
          </div>
    </div>
  <% else %>





      <div class="d-flex flex-column align-items-center user-header">

        <div class="d-flex align-items-center">
          <h2 class="mr-3">Salut, <%= current_user.user_name %>!</h2>

          <% if current_user.selected_icon.present? %>
            <div class="selected-icon">
              <div class="box-home">
                <div class="polygon-container">
                  <%= image_tag("achievements/#{current_user.selected_icon}", alt: "Selected Icon", width: 40, height: 40, class: "img-fluid") %>
                </div>
              </div>

            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="progress-bar">
     <div class="progress" style="width: <%= @user_progress %>%;"></div>
  </div>
  <p>Level: <%= @user_level %></p>
  <p>Total de vos points: <%= @total_value %></p>





  <div class="container">
    <div class="row ">
        <% sorted_user_challenges = @user_challenges.reject { |uc| uc.done }.sort_by { |uc| [uc.action.category.title, uc.action.name] } %>
        <% current_category = nil %>
          <% sorted_user_challenges.each do |user_challenge| %>
      <div class="col-3 cards-action-index">
          <div class="home-card" style="border: 3px solid <%= user_challenge.action.category.category_color %>" >

            <div class="custom-card-title" style="background-color: <%= user_challenge.action.category.category_color %>">
              <%= link_to user_challenge_path(user_challenge), class:'link-to-text text-truncate' do %>
                <%= user_challenge.action.name %>
              <% end %>
            </div>
              <% unless user_challenge.done %>

                <div class="custom-card-icon ">
                  <%= link_to user_challenge_path(user_challenge) do %>
                    <%= image_tag("icons/#{user_challenge.action.icon}", class:"home-card-icon", alt: 'Icon') %>
                  <% end %>
                </div>
              <% end %>
          </div>
      </div>

      <% end %>
    </div>
  </div>


  <div class="container">
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="accordion custom-card align-items-start" id="accordionPanelsStayOpenExample1">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne-1">
              <button class="accordion-button pattern-home" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne-1" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne-1">
                Classement des utilisateurs par actions complétées.
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne-1" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne-1">
              <div class="accordion-body">
                <div class="card-body text-center d-flex justify-content-start">
                  <% @ranked_users.each_with_index do |user, index| %>
                    <p class="box-rank">
                      <%= index + 1 %>. <%= user.user_name %> - Valeur total: <%= user.total_value %>
                    </p>
                  <% end %>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="accordion custom-card align-items-start" id="accordionPanelsStayOpenExample2">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo-1">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo-1" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo-1">
                Classement des utilisateurs par catégories.
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo-1" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo-1">
              <div class="accordion-body">
                <div class="card-body text-center d-flex justify-content-start">
                  <% @ranked_categories.each_with_index do |category, index| %>
                    <p class="box-rank">
                      <%= index + 1 %>. <%= category.title %> - Valeur total: <%= category.total_value %>
                    </p>
                    <p>
                      Total d'equivalent CO2 economisé: <%= category.total_value / 0.01 %> grCO2
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="accordion custom-card align-items-start" id="accordionPanelsStayOpenExample3">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree-1">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree-1" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree-1">
               Classement utilisateurs des actions complétées par catégories.
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree-1" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree-1">
              <div class="accordion-body">
                <div class="card-body text-center d-flex justify-content-start">
                  <% @categories.each do |category| %>
                    <h5><%= category.title %></h5>
                    <% category.ranked_users_by_total_value.each_with_index do |user, index| %>
                      <p class="text-truncate box-rank">
                        <%= index + 1 %>. <%= user.user_name %> - Valeur total: <%= user.total_value %>
                      </p>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>
