
      <div class="d-flex flex-column  user-header">

        <div class="d-flex align-items-center">
          <h2 class="mr-3 text-start"><%= current_user.user_name %></h2>

          <% if current_user.selected_icon.present? %>

            <div class="avatar-list">
                <div class="avatar avatar-x-large-home">
              <%= image_tag("achievements/#{current_user.selected_icon}", alt: "Usuário", class: "avatar-image") %>
              <img src="" class="avatar-frame anim-hue">
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="bar-margin">
        <div class="progress-bar">
          <div class="progress" style="width: <%= @user_progress %>%;"></div>
          </div>
          <p>Level: <%= @user_level %></p>
          <p>Total de vos points: <%= @total_value %></p>
        </div>
      </div>
      <div class=" container">
          <button class="btn border-top  text-start d-flex justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Mes categories déjà selectionnées <%= image_tag "collapsedown.png", class:"litlle-icon align-items-end"%>
          </button>
                  <div class="collapse" id="collapseExample">
                    <div class="categories fonts-text">
                            <% @user_categories.each do |user_category|%>

                          <div class="custom-card text-center " style="background color:<%= user_category.category.category_color %>">
                              <div class="categories fonts-text" >
                                <%= user_category.category.title %>
                              </div>
                          </div>

                            <%end%>

                          <div class="custom-card text-center fonts-text">
                            <%= link_to "Ajuster la selection", edit_user_category_path, class:"btn btn-custom categories " %>
                          </div>

                    </div>
                  </div>
        </div>
      </div>
    </div>
  </div>


<h2 class="mt-4 mb-4">Challenges terminés</h2>
<div class="completed-challenges-list">
  <% completed_challenge_counts = Hash.new(0) %>
  <% completed_categories = Set.new %>
  <% @user_challenges.select { |uc| uc.done }.each do |completed_challenge| %>
    <% challenge_name = completed_challenge.action.name %>
    <% completed_challenge_counts[challenge_name] += 1 %>
    <% completed_categories.add(completed_challenge.action.category.title.downcase.gsub(' ', '_')) %>
  <% end %>

<div class=" container">
    <% completed_categories.each do |category| %>
        <% category_display = category.gsub('_', ' ').titleize %>
            <button class="btn border-top  text-start d-flex justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=category%>" aria-expanded="false" aria-controls="collapse<%=category%>">
            <%= category_display %><%= image_tag "collapsedown.png", class:"litlle-icon"%>
          </button>
          <div class="collapse" id="collapse<%=category%>">
            <div class="categories fonts-text">
              <ul>
                <% @user_challenges.select { |uc| uc.done && uc.action.category.title.downcase.gsub(' ', '_') == category }.each do |completed_challenge| %>
                  <% challenge_name = completed_challenge.action.name %>
                  <% if completed_challenge_counts[challenge_name] > 0 %>
                    <li><%= "#{challenge_name} (Completed #{completed_challenge_counts[challenge_name]} times)" %></li>
                    <% completed_challenge_counts[challenge_name] = 0 %>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
    <% end %>
</div>

<div class=" container">
        <div class="border-top"></div>

          <%= link_to "Succès", achievements_path, class:'btn ' %>

          <br>
          <%= link_to "déconnexion",  destroy_user_session_path,data: {turbo_method: :delete}, class:'btn ' %>
        </div>
      </div>
