
  <%= link_to "Select Icon", new_reward_path , class: "btn btn-outline-dark categories"%>

<h1>Vos Succès</h1>
<div class="achievements-list">
  <div class="accordion ach-accord" id="achievementsAccordion">
    <% @actions.group_by { |action| action.category }.each do |category, category_actions| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading<%= category.id %>">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= category.id %>" aria-expanded="true" aria-controls="collapse<%= category.id %>">
            <%= category.title %>
          </button>
        </h2>
        <div id="collapse<%= category.id %>" class="accordion-collapse collapse" aria-labelledby="heading<%= category.id %>" data-bs-parent="#achievementsAccordion">
          <div class="accordion-body">
            <% category_actions.each do |action| %>
              <div class="achievement d-flex align-items-center mb-2">
                <% if @user.achieved_action?(action) %>
                  <div class="card-ach-done">
                    <div class="ach-whole-card d-flex">
                      <%= image_tag("achievements/#{action.icon}", alt: action.name, class: "svg-ach-square-done") %>
                      <div class="svg-ach-text-done">
                        <p class="text-white mt-2 ms-2">
                          <%= action.name %> <br> Succès ✅
                        </p>
                        <p class="text-white-small ms-2">
                          Completer le challenge 5 fois.
                        </p>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <div class="card-ach-not">
                    <div class="ach-whole-card d-flex">
                      <%= image_tag("icons_grey/#{action.icon}", alt: action.name, class: "svg-ach-square-not") %>
                      <div class="svg-ach-text-not">
                        <p class="text-white mt-2 ms-2">
                          <%= action.name %> <br> En cours ⌛
                        </p>
                        <p class="text-white-small ms-2">
                            Completer le challenge 5 fois.
                        </p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
